<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hello Vue!</title>
</head>

<!-- BODY -->

<body>
    <div id="todo">
        <div class="row justify-content-center">
            <h1>My simple TODO list</h1><i class="fa fa-list-alt icon"></i>
        </div>

        <!-- <div class="row justify-content-center">
            <input type="text">
            <button class="btn btn-primary">Add new TODO</button>
        </div> -->

        <!-- <div class="row justify-content-center">
        <ol class="todo-list list-group list-group-flush">
            <li class="list-group-item list-group-item-action list-group-item-secondary">Proyecto de LM</li>
            <li class="list-group-item list-group-item-action list-group-item-dark">Proyecto de Programación</li>
            <li class="list-group-item list-group-item-action list-group-item-secondary">Ejercicios de BBDD</li>
            <li class="list-group-item list-group-item-action list-group-item-dark">Estudiar para examén de FOL</li>
        </ol>
    </div> -->

        <div class="row justify-content-center">
            <input type="text" v-model="fieldValue">
            <button class="btn btn-primary" v-on:click="pushNewTodo()" :disabled="!fieldValue">Add new
                TODO</button>
        </div>

        <div class="row justify-content-center margin-top-5em">
            <ol class="todo-list list-group list-group-flush">
                <li v-for="(todo, index) in todos" class="list-group-item list-group-item-action"
                    v-bind:class="{ 'list-group-item-secondary': index % 2 === 0, 'list-group-item-dark': index % 2 !== 0}">
                    <button @click="deleteTodo(index)" class="pull-left">X</button><p class="descripcion">{{todo.descripcion}}</p></li>
            </ol>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var example1 = new Vue({
            el: '#todo',
            data: {
                fieldValue: null,
                todos: [
                    { descripcion: 'Proyecto de LM' },
                    { descripcion: 'Proyecto de Programación' },
                    { descripcion: 'Ejercicios de BBDD' }
                ]
            },
            methods: {
                pushNewTodo: function () {
                    this.todos.push({ descripcion: this.fieldValue });
                    this.fieldValue = '';
                },
                deleteTodo: function (index) {
                    if (this.todos[index]) {
                        this.todos.splice(index, 1);
                    }
                }
            }
        })
    </script>

</body>

</html>
