html, body {
    text-align: center;
    height: 100%;
    min-height: 100%;
}

body > * {
    padding: 10px;
}

button, input {
    margin: 10px;
}

.icon {
    font-size: 50px!important;
    margin: 0 10px 0 10px;
}

.todo-list {
    width: 30%;
}

.margin-top-5em {
    margin-top: 5em;
}

.descripcion {
    margin-top: 1rem;
}
